body{
    background: url("bodybg.jpg")
}
img{
    height: 20px ;
    display: inline-block;
   
    
    
}

div.navbar{
    height: 10px ;
    background: #2A6B9E ;
    align-content: right ; 
    margin-left: 700px ; 
    height: 15px ;
    background: white ;
    display: inline-block; 
    
    
}

h2.he{
    font-family: sans-serif ;
    font-style: normal ;
    font-size: 32px ; 
    margin-left: 420px ; 
}

.form1{
    display:inline-block ;  
    border: 2px solid black ;
    border-radius: 10px ; 
    text-align: center ;
    box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.5) ; 
    width: 210px ;
    height: 390px ;
    margin-left: 420px ; 
    margin-top: 40px ; 
}

.input1{
    color: white ; 
    background-color: rgba(256,256,256,0.09) ;
    border: 1px solid white ; 
    border-radius: 20px ;
    width: 150px ;
    margin: 5px ;
    
}

.centlog{
    display: inline-block ; 
    width: 300px ;
    height: auto ; 
    font-size: 30px ; 
    text-align: center ;
    font-family: sans-serif ; 
    font-style: oblique ; 
    margin-left: 390px ; 
    
}